# Binaries
*.exe
*.exe.old
*.dll
*.so
*.dylib
/build/
/runner
/dist/
/.joss-release-work/

# Joss
env.joss
env.enc
*.lock

# Go
go.sum
vendor/

# IDE
.vscode/
.idea/

/ejemplos/*
install/*.zip
install/*.exe
install/joss-linux
install/joss-macos
install/*.vsix
installer/*

jossecurity-*.zip

*.py
translation_history.json
translation_log.xlsx
log.txt
hardcoded_strings_list.json
hardcoded_strings.arb
hardcoded_strings.json
