.vscode/**
src/**
.gitignore
.git/**
.github/**
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.md
!readme.md
!changelog.md
!INSTALL.md
!LICENSE.txt
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/Makefile
node_modules/**/*.md
node_modules/**/*.d.ts
node_modules/**/*.map
node_modules/**/.bin/**
node_modules/**/.github/**
